import { Module } from "@nestjs/common";
import { MongooseModule } from '@nestjs/mongoose';
import { <%= leanClassName %>Module } from "./<%= leanName %>/<%= leanName %>.module";
import { HealthModule } from "./health/health.module";

@Module({
  imports: [
    HealthModule,
    <%= leanClassName %>Module,
  ],
  controllers: [],
  providers: [],
})
export class AppModule { }
